<section class="landing-v2-speaker-area s-py-100" id="speakers-section" style="background-image: url('assets/img/speakers/Speakers-background.png');">
    <div class="container">
        <div class="section-title-v4">
            <h2>purecode SPEAKERS</h2>
            <p>Meet the lecturers</p>
        </div>
        <div class="landing-v2-speaker-wrapper">
         {% set speakers = {
            'speaker-1': {
                'delay': '10',
                'id':'speaker-rickard',
                'imgPath': 'RickardAndersson.png',
                'name': 'Rickard Andersson',
                'title': 'Software Developer at Quanterall',
            },     
            'speaker-2': {
                'delay': '100',
                'id':'speaker-filip',
                'imgPath': 'FilipHaglund.png',
                'name': 'Filip Haglund',
                'title': 'CTO at Lesslie',

            },     
            'speaker-3': {
                'delay': '200',
                'id':'speaker-dimitar',
                'imgPath': 'DimitarIvanov.png',
                'name': 'Dimitar Ivanov',
                'title': 'Core Developer at æternity Crypto Foundation',
            },     
            'speaker-4': {
                'delay': '10',
                'id':'speaker-georgi',
                'imgPath': 'GeorgiSpasov.png',
                'name': 'Georgi Spasov',
                'title': 'Software Developer at Quanterall',
            },     
            'speaker-5': {
                'delay': '100',
                'id':'speaker-hristo',
                'imgPath': 'HristoKoshev.png',
                'name': 'Hristo Koshev',
                'title': 'Software Developer at Quanterall',
            },     
            'speaker-6': {
                'delay': '200',
                'id':'speaker-nikolay',
                'imgPath': 'NikolayTsvetinov.png',
                'name': 'Nikolay Tsvetinov',
                'title': 'Senior Elixir Developer/DevOps at Eiger',
            },  
               'speaker-7': {
                'delay': '10',
                'id':'speaker-ivan',
                'imgPath': 'IvanDeskov.png',
                'name': 'Ivan Deskov',
                'title': 'Staff Engineer at SumUp',
            },
               'speaker-8': {
                'delay': '100',
                'id':'speaker-valentin',
                'imgPath': 'ValentinAtanasov.png',
                'name': 'Valentin Atanasov',
                'title': 'Software Engineer at Quanterall',
            },
        } %}
            {% for speaker in speakers %}
            <a href=#{{ speaker.id }} class="landing-v2-single-speaker" data-aos="fade-up" data-aos-delay={{ speaker.delay }}>
                <section class="landing-v2-speaker-thumb">
                    <div class="thumb">
                        <img src="assets/img/speakers/{{ speaker.imgPath }}" alt="speaker">
                    </div>
                     <div class="shape-1">
                        <img src="assets/img/speakers/shapes/shape-01.svg" alt="shape hexagon around the photo of the speaker">
                    </div>
                </section>
                <section class="landing-v2-speaker-title">
                    <h6>{{ speaker.name }}</h6>
                    <p>{{speaker.title}}</p>
                </section>
            </a>
            {% endfor %} 
        </div>
    </div>
</section>